// Styling to handle contents inside login page
.p-login {
    &_intro {
        &-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            z-index: 3;
        }
    }
    &_form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        form {
            font-size: 20px;
            max-width: 480px;
        }

        & .submit-btn {
            width: 100%;
        }
    }
    &_content {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &_message {
        display: flex;
        padding-top: 140px;
        height: 100%;
        width: 100%;
        justify-content: center;

        .v-card__title {
            max-width: 480px;
        }
    }
}

// Styling to handle main Login page layout responsiveness
.p-login_wrapper {
    height: 100vh;

    .login_wrapper--left, .login_wrapper--right {
        width: 50%;
    }

    .login_wrapper--left {
        .p-login_intro {
            position: relative;
            height: 100%;

            .p-login_background {
                display: block;
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .p-login_logo {
                position: relative;
                z-index: 3;
                top: 50px;
                left: 53px;
            }
        }
    }

    @include sm {
        flex-direction: column-reverse;
        overflow: scroll;

        .login_wrapper--left, .login_wrapper--right {
            width: 100%;
        }

        .login_wrapper--left {
            height: 90px;

            .p-login_intro {
                .p-login_background {
                    position: relative;
                }
            }
        }

        .login_wrapper--right {
            height: 100%;
        }
    }
}