.p-login {
    &_row {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    &_intro {
        position: relative;
        height: 100%;
        color: #fff;

        &-text {
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            margin: 0 auto;
            z-index: 2;

            & .heading {
                color: #fff;
            }
        }
    }
    &_background {
        display: block;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }
    &_logo {
        position: relative;
        z-index: 3;
        top: 50px;
        left: 53px;
    }
    &_form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        form {
            font-size: 20px;
            max-width: 480px;
        }

        & .submit-btn {
            width: 100%;
        }
    }
    &_content {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.p-reminder {
    &_message {
        display: flex;
        padding-top: 140px;
        height: 100%;
        width: 100%;
        justify-content: center;

        .v-card__title {
            max-width: 480px;
        }
    }
}