.l-content {
    &_wrap {
        background: inherit !important;
    }
    &_maxWidth {
        &-sm {
            max-width: 960px;
            margin: 0 auto;
        }
    }
    &_inner {
        height: 100%;
        max-width: 1410px;
    }
    &_heading {
        text-align: center;
        margin-bottom: 50px;
        
        & .slogan {
            font-weight: normal;
        }
    }
}

.v-main__wrap {
    padding-top: 50px;

    @at-root .p-home & {
        padding-top: 25px;
    }
}

// Non auth wrapper for not signed in users.
// This non auth wrapper applied in Signin, Forgot Password
// and Set New Password pages used to remove the padding top
// same value of header height as no header will
// be used in these pages based on new design
.non-auth__wrap {
    .v-main__wrap {
        padding-top: 0;
    }
}
