// Default Colors
$color_main: #1777ca;
$color_main_dark: #152E4D;
$text_color_dark: #1f3952;

// New Colors
$neutral50: #EEF0F8;
$neutral100: #E1E4EF;
$neutral200: #D0D4E2;
$neutral300: #B7BCCF;
$neutral400: #989FB7;
$neutral500: #78809D;
$neutral600: #5A6386;
$neutral700: #424C74;
$neutral800: #29345E;
$neutral900: #131E44;

$primary50: #ECEFF9;
$primary100: #D5DCF2;
$primary200: #A7B4E3;
$primary300: #798DD4;
$primary400: #4A65C5;
$primary500: #334B9F;
$primary600: #253775;
$primary700: #18234A;
$primary800: #0A0F20;
$primary900: #131E44;

$accent50: #FFE9CF;
$accent100: #FFDEB8;
$accent200: #FFC98A;
$accent300: #FFB45C;
$accent400: #FF9F2E;
$accent500: #FF8A00;
$accent600: #D17100;
$accent700: #A35800;
$accent800: #753F00;
$accent900: #472700;

$positive50: #ECFDF5;
$positive100: #D1FAE5;
$positive200: #A7F3D0;
$positive300: #6EE7B7;
$positive400: #34D399;
$positive500: #10B981;
$positive600: #059669;
$positive700: #047857;
$positive800: #065F46;
$positive900: #064E3B;

$warning50: #FFFBEB;
$warning100: #FEF3C7;
$warning200: #FDE68A;
$warning300: #FCD34D;
$warning400: #FBBF24;
$warning500: #F59E0B;
$warning600: #D97706;
$warning700: #B45309;
$warning800: #92400E;
$warning900: #78350F;

$negative50: #FEF2F2;
$negative100: #FEE2E2;
$negative200: #FECACA;
$negative300: #FCA5A5;
$negative400: #F87171;
$negative500: #EF4444;
$negative600: #DC2626;
$negative700: #B91C1C;
$negative800: #991B1B;
$negative900: #7F1D1D;



